$maxMobile: "(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minM: "(min-width: 992px)";
$minL: "(min-width: 1200px)";


$redColoe: #e2494c;
$greyColor: #9c9c9c;


$float-left: left;
$float-right: right;